<br><br><br>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<div class="w3-container">
<div class="w3-panel w3-padding-4 w3-blue">
  <center><h4>Raccoons Flashcards</h4></center>
  <center><p>Question</p></center>
  <center><button class="button" style="vertical-align:middle"><span>Next</span></button></center>
</div>
</div>
