<br><br><br>
<center>
<div class="container">
  <form class="" action="/user" method="post">

    <div class="">
      <label for="full_name">Full Name</label>
      <input type="text" name="user[full_name]" value="" id="full_name">
    </div>

    <div class="">
      <label for="username">Username</label>
      <input type="text" name="user[username]" value="" id="username">
    </div>

    <div class="">
      <label for="email">Email</label>
      <input type="email" name="user[email]"  value="" id='email'>
    </div>

    <div class="">
      <label for="password">Password</label>
      <input type="password" name="user[password]"  value="" id='password'>
    </div>

    <input type="submit" name="" value="Create">
  </form>
</div>
</center>
